<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href= "/static/main.css">
		<title>My Blog</title>
	</head>
	<body>
		<header class="main-title">
			<h1>My Blog</h1>
		</header>
		
		<nav id="navbar">
			<ul>
				<li>
					<a href="/blog"> Home</a>
				</li>
				<li>
					<a href="/blog/newpost"> New Post</a>
				</li>
			</ul>
		</nav>		

		<section>
			{% for post in posts %}
			<article class='post'>
				
				<header class="post-heading">
					<hgroup>
						<h1 class='post-title'><a href="/blog/{{post.key().id()}}"> {{post.subject}}</a></h1>

						<h2 class="post-date">
						<time datetime="{{post.created.strftime('%c')}}">
							{{post.created.strftime("%b %d, %Y")}}
						</time></h2>
					</hgroup>
				</header>
				
				<div class='post-content' >
					{{post.content.replace("\n", "<br>")|safe}}
				</div>
			</article>
			{% endfor %}
		</section>
		<footer>
			<span class="age"> Queried {{stamp.total_seconds()}} seconds ago </span>	
		</footer>		
	</body>
</html>