<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Gui's Blog</title>
    <link rel="stylesheet" type="text/css" href= "/static/main.css"> 
</head>
<body>
    <h1>Gui's Blog</h1>
    <h2>New Post</h2>
    <form method="post">
        <label> Subject <br>
            <input type="text" name="subject" value="{{subject}}" >
        </label>
        <br>
        <label> Content<br>
            <textarea name="content">{{content}}</textarea>
        </label>
        <br>
        <label class="error">{{error}}<br></label> 
        <input type="submit">
    </form>    
</body>