<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Gui's Blog</title>
    <link rel="stylesheet" type="text/css" href= "/static/main.css"> 
</head>
<body>
    <div class="main-title">Gui's Blog</div> 
    <h1>Sign up</h1>
    <form method="post">
        <table>
            <tr>
                <td> Username </td>
                <td> <input name="username" value="{{username}}"> </td>
                <td class="error"> {{error_username}} </td>
            </tr>
            <tr>
                <td> Password </td>
                <td> <input type="password" name="password"> </td>
                <td class="error"> {{error_password}} </td>
            </tr>
            <tr>
                <td> Verify Password </td>
                <td> <input type="password" name="verify"> </td>
                <td class="error" > {{error_verify}} </td>
            </tr>
            <tr>
                <td> Email(optional) </td>
                <td> <input name="email" value="{{email}}"> </td>
                <td class="error"> {{error_email}} </td>
            </tr>
        </table>
        <input type="submit">
    </form>
</body>
